<form>
    <div class="content-bike">
        <div class="separador">
            <h2>Bicicleta</h2>
            <div class="wrapper-form">
                <div class="content-form">                
                    <mat-form-field class="field-full">
                        <input type="text" placeholder="Marcas" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup.enter)="chooseFirstOption()">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getValue($event.option.value)'>
                            <mat-option *ngFor="let marca of filteredOptions | async" [value]="marca">
                                {{marca}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="field-full field-tipo">
                        <mat-select placeholder="Color" [(value)]="bike.color">
                            <mat-option *ngFor="let color of colores" [value]="color">
                                {{color}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="field-full">
                        <input type="number" matInput placeholder="Rodada" min="0" [(ngModel)]="bike.rodada" name="rodada">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="separador">
            <div class="content-qr">
                <h2>QR</h2>
                <div class="qr">
                    <qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'" *ngIf="isNotEmptyQR()"></qrcode>
                    <h5 *ngIf="!isNotEmptyQR()">Aquí se mostrará el QR al registrar la bicicleta</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="submit">
        <button class="button add" mat-flat-button color="primary" matTooltip="Add bike" (click)="save()">
            <i class="material-icons">
                person_add
            </i>
        </button>        
    </div>
</form>