input {
    text-transform: uppercase;
}

.email {
    text-transform: inherit;
}

.marco {
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
}

.marco h1,h2 {
    color: #fff;
    text-align: center;
}

.marco h1 {
    font-size: 35px;
}

.marco h2 {
    font-size: 25px;
}

.field-full {
    display: block;
}

.alert {
    font-style: italic;
}

.alert-danger{
    color: #f44545;
}

.wrapper-form {
    background-color: #fff;
    border-radius: 3px;
    min-width: 150px;
    padding: 15px 35px;
}

.thumbnail-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 200px;
    background-color: grey;
    margin: 15px 0;
}

.photoImg{
    width: 100%;
    -moz-transform: scaleX(-1); /* Firefox */
    -o-transform: scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Chrome y Safari */
    transform: scaleX(-1); /* w3org */
    filter: FlipH; /* Internet Explorer */
}

.content-form,.content-qr {
    display: flex;
    flex-direction: column;
}

.content-qr {
    justify-content: center;
    align-items: center;
}
 
.qr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ffffff94;
    border-radius: 40px;
    border: 11px dashed #003b5c;
    width: 256px;
    height: 256px;
}

.qr h5{
    color: #fff;
    text-align: center;
}

.button {
    border-radius: 20px;
    margin: 15px;
}

.add {
    background-color: rgb(118 183 42);
    width: 256px;
}

.photo {
    background-color: #003b5c;
    width: 256px;
}

.reset {
    background-color: rgb(237 113 2);
    width: 256px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content-form {
        flex-direction: row;
    }
    .separador {
        width: 100%;
        padding: 20px;
    }
    .wrapper-photo {
        width: 400px;
        height: 300px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content-form {
        flex-direction: row;
    }
    .separador {
        width: 100%;
        padding: 20px;
    }
    .wrapper-photo {
        width: 500px;
        height: 375px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content-form {
        flex-direction: row;
    }
    .separador {
        width: 100%;
        padding: 20px;
    }
    .wrapper-photo {
        width: 500px;
        height: 375px;
    }
}