<div class="content-photo">
    <div (window:resize)="onResize($event)">
        <webcam *ngIf="!webcamImage" [height]="height" [width]="width" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
    </div>
    <img class="photoImg" *ngIf="webcamImage" [src]="webcamImage.imageAsDataUrl"/>

    <div class="botonera">
        <button *ngIf="!pictureExist()" class="button photo" mat-flat-button color="primary" matTooltip="Take a picture" (click)="photo()">
            <i class="material-icons">
                photo_camera
            </i>
        </button>
        <button *ngIf="pictureExist()" class="button new" mat-flat-button color="primary" matTooltip="New take a picture" (click)="newPhoto()">
            <i class="material-icons">
                fiber_new
            </i>
        </button>
        <button *ngIf="pictureExist()" class="button save" mat-flat-button color="primary" matTooltip="Save picture" (click)="save()">
            <i class="material-icons">
                save
            </i>
        </button>
        <button class="button cancel" mat-flat-button color="primary" matTooltip="Close" (click)="cancel()">
            <i class="material-icons">
                cancel
            </i>
        </button>
    </div>
</div>