<div class="marco">
    <h1>Editar usuario</h1>
    <!-- Form for a user's personal data -->
    <form>
      <div class="wrapper-form">
        <div class="content-form">
            <mat-form-field class="field-full">
                <input type="text" matInput placeholder="Nombre" [(ngModel)]="user.nombre" name="nombre" #nombre="ngModel" required minlength="4" >
            </mat-form-field>
              
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                <div *ngIf="nombre.errors.required">
                    El nombre es requerido.
                </div>
                <div *ngIf="nombre.errors.minlength">
                    El nombre debe tener al menos 4 caracteres de longitud.
                </div>
            </div>
        
            <mat-form-field class="field-full">
                <input type="text" matInput placeholder="Apellido paterno" [(ngModel)]="user.aP" name="aP" #aP="ngModel" required minlength="4">
            </mat-form-field>
            
            <div *ngIf="aP.invalid && (aP.dirty || aP.touched)" class="alert alert-danger">
                <div *ngIf="aP.errors.required">
                    El apellido paterno es requerido.
                </div>
                <div *ngIf="aP.errors.minlength">
                    El apellido paterno debe tener al menos 4 caracteres de longitud.
                </div>
            </div>

            <mat-form-field class="field-full">
                <input type="text" matInput placeholder="Apellido materno" [(ngModel)]="user.aM" name="aM" #aM="ngModel" minlength="4">
            </mat-form-field>

            <div *ngIf="aM.invalid && (aM.dirty || aM.touched)" class="alert alert-danger">
                <div *ngIf="aM.errors.minlength">
                    El apellido materno debe tener al menos 4 caracteres de longitud.
                </div>
            </div>
            
            <mat-form-field class="field-full field-tipo">
                <mat-select placeholder="Tipo" [(value)]="user.tipoCuenta">
                    <mat-option *ngFor="let types of userTypes" [value]="types">
                        {{types.toLowerCase()}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
      </div>
      <div class="submit" *ngIf="!saveSuccess">
        <button class="button add" mat-flat-button color="primary" matTooltip="Edit user" (click)="update()">
          <i class="material-icons">
                save
          </i>
        </button>
      </div>
    </form>
</div>
